net:
  bindIp: 127.0.0.1
  port: 27017
storage:
  dbPath: "C:\\Users\\Laura Padial\\Desktop\\rateart_backend\\db\\data\\"
  journal:
     enabled: true
systemLog:
   verbosity: 0
   quiet: false
   traceAllExceptions: false
   path: "C:\\Users\\Laura Padial\\Desktop\\rateart_backend\\db\\logs\\rateart_DB.log"
   logAppend: false
   logRotate: rename
   destination: file
   timeStampFormat: iso8601-local
   component:
      accessControl:
         verbosity: 0
      command:
         verbosity: 0